*
{
	margin: 0;
	padding: 0;
}

body
{	
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}
.swiper-container 
{
	width: 100%;	
	padding-bottom: 10em;
}
.swiper-slide 
{
	background-position: center;
	background-size: cover;
	width: 350px;
	height: 250px;
	text-align: center;
	-webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
}
.swiper-slide p
{
	font-size: 1.5em;
	color: #fff;
	background-color: gray;	
}

#div-Typed
{
	style="font-family: 'Permanent Marker' cursive;
	text-align: center; 
	color: #fff;
	font-size: 1.5em;
}

@media (max-width: 900px) {
	.swiper-slide p
	{
		font-size: 3em;
	}
	#div-Typed 		
	{		
		font-size: 3em;
	}		
}
